* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: white;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Background Animation */
body {
    background-image: url('pexels-felixmittermeier-956981.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}